<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Site e-commerce</title>
        <link rel="stylesheet" href="./css/style.css">  
    </head>
<body>  
     <header class="header-entete">
        <h1>
            <a href="/">
                <img src="images/efrei.png" alt="logo">
            </a>
            Kelyan e-commerce
        </h1>

        <form action="page.php" method="get">
            <input type="search" name="recherche" id="recherche" maxlength="200" placeholder="recherche...">            
        </form>
    </header>

    <nav class="main-nav">
        <a href="/">Accueil</a>
        <a href="/produits">Produits</a>
    </nav>

    <main>
        <article>
            <h2> Bienvenue sur mon site e-commerce de produits neufs et d'occasions </h2>
            <br>
            <h3> Veuillez cliquer sur le bouton produits pour voir la liste des articles </h3>
        </article>

         <article class="article-1">
            <h3> French days </h3>
            <img class="img-article" src="images/promo.png" alt="promotion">

        </article>
    </main>
    <footer>
        <p>&copy; 2024 Mon E-commerce. Tous droits réservés.</p>
    </footer>
</body>
</html>
